.lodgings-browser {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 80px
}

.lodging-img {
    height: 200px;
    width: 300px;
    border-radius: 15px;
}

.lodging-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}
