@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Mukta:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');



.signup-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 25px;
  border: 1px solid rgb(167, 167, 167);
}

.email-div,
.username-div,
.confirm-password-div,
.password-div {
    padding: 10px;
}

.email-input,
.username-input,
.confirm-password-input,
.password-input {
  padding: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: large;
  font-family: "Poppins", sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.signup-title {
  padding: 0px;
  font-family: 'Mukta', sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;

}
