@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Mukta:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');



.write-comment-textarea {
    padding: 20px;
    width: 76%;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
}

.create-review-form {
    margin-left: 35px;
    padding: 0;
}

.review-rating-select {
    width: 100px;
    padding: 7px;
    margin-left: 35px;
    font-family: 'Roboto', sans-serif;
    color: gray
}

.create-review-button {
    width: 50%;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-left: 35px;
}

.create-review-button:disabled {
    background-color: gray;
    color: rgb(198, 198, 198);
    cursor: unset;
}
