/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Mukta:wght@200;300;400;500&display=swap');

a {
    text-decoration: none;
    font-family: 'Mukta', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
