@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Mukta:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');


.my-lodgings-browser {
    margin-top: 90px;
    margin-left: 45px;
}

.my-lodging-container {
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e0e0e0;
}

.my-lodging-name {
    font-family: 'Mukta', sans-serif;
    font-size: 1.1em;
}

.my-lodging-price {
    font-family: 'Mukta', sans-serif;
}

.lodging-name-price {
    display: flex;
    flex-direction: row;
}
