.signup-container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    padding: 25px;
    border: 1px solid gray;
}

.email-div,
.username-div,
.confirm-password-div,
.password-div {
    padding: 10px;
}

.email-input,
.username-input,
.confirm-password-input,
.password-input {
  padding: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: large;
  font-family: "Poppins", sans-serif;
}
