@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Mukta:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

.new-lodging-page {
    margin-top: 90px;
}
.new-lodging-form,
.form-group {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

.lodging-description {
    width: 100%;
    height: 100px;
    margin-left: 10px;
}

input,
select,
textarea {
    width: 100%;
    padding: 5px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.checkbox-group {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.create-button {
    margin-left: 10px;
    width: 100%;
    background-color: #314B5A;
    font-size: medium;
    color: #FFFFFF;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.create-button:disabled {
    background-color: #bfbdbd;
    color: #e1e1e1;
}

.wifi-checkbox,
.pool-checkbox,
.breakfast-checkbox {
    margin-right: 25px;
    height: 20px;
    width: 20px;

}

.wifi-label,
.pool-label,
.breakfast-label {
    font-family: 'Mukta', sans-serif;
}

.errors {
    font-family: 'Roboto', sans-serif;
    color: rgb(165, 43, 15);
    margin-left: auto;
    margin-right: auto;
}

.add-accommodation-title {
    font-family: 'Mukta', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
