@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Mukta:wght@200;300;400;500&display=swap');

.nav-container {
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    background-color: #FFFFFF;
}

.nonuser-menu,
.user-menu{
    position: absolute;
    top: 60px;
    right: 60px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: -1px -1px 4px 1px rgba(0, 0, 0, 0.091);
}

.user-menu {
    z-index: 10001;
    width: 250px;
    height: 250px;
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 3px;

}
.nonuser-menu {
    z-index: 10001;
    width: 200px;
    height: 150px;
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}


.menu-addaccommodation-container,
.menu-bookings-container,
.menu-myaccommodation-container {
    border-bottom:rgb(205, 205, 205) 1px solid;
    padding: 10px;
}

.menu-username-container {
    border-bottom:rgb(205, 205, 205) 1px solid;
}

#menu-demo-button,
#menu-login-button,
#menu-signup-button,
.logout-button {
    background-color: #FFFFFF;
    border: none;
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    padding: 0px;
}

.logout-button {
    margin-top: 10px;
    margin-left: 20px;
}
#menu-signup-button {
    font-weight: bolder;
}

#menu-demo-button:hover,
#menu-login-button:hover,
#menu-signup-button:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

#menu-demo-button,
#menu-login-button {
    font-weight: lighter;
}

.menu-demo-container {
    padding: 10px
}

.menu-signup-container,
.menu-login-container {
    border-bottom:rgb(205, 205, 205) 1px solid;
    padding: 10px;
}


.left-nav {
    margin-left: 35px;
}

.right-nav {
    display: flex;
    justify-content: right;
    align-items:center;
    padding-right: 65px;
    font-family: 'Mukta', sans-serif;
}

.middle-nav {
    display: flex;
    justify-content: center;
    align-items:center;
    padding-right: 65px;
    width: 310px;
}

.profile-button {
    background-color: none;
}

.signup-button {
    background-color: none;
    font-size: medium;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 3px 10px 3px 10px;
    font-family: 'Mukta', sans-serif;
    margin-right: 7px;
    color: black;
    text-decoration: none;
}

.login-button {
    background-color: none;
    font-size: medium;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
}

.searchInput {
    border-radius: 20px;
    padding: 3px;
    width: 300px;
    margin-top: 15px;
    border: .5px solid gray;
}

.logo {
    max-width: 20em;
    height: 3em;
    padding: 3px;
    margin-left: 5px;
    margin-top: 7px;
  }

  .add-accommodation-link {
    font-size: 16px;
    font-family: 'Mukta', sans-serif;
    color: #2B4756;
    text-decoration: underline;
    margin-left: 10px;
  }

  .profile-icon {
    background-color: #FFFFFF;
    border: .5px solid rgb(167, 167, 167);
    padding: 3px 15px 3px 15px;
    border-radius: 20px;
  }

  .fa-user-circle {
      font-size: 25px;
  }

  .username {
      color:rgb(125, 125, 125);
      margin-left: 10px;
  }
  .my-bookings-link,
  .my-accommodations-link {
      text-decoration: none;
      color: black;
  }

  .my-bookings-link,
  .my-accommodations-link,
  .username {
      padding: 10px;
  }

  .login-modal {
      padding: 40px;
  }
