@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Mukta:wght@200;300;400;500&display=swap');

.nav-container {
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    background-color: #FFFFFF;
    box-shadow: 10px -2px 15px 2px rgba(31, 31, 31, 0.25);
}

.nonuser-menu,
.user-menu{
    position: absolute;
    top: 60px;
    right: 60px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: -1px -1px 4px 1px rgba(0, 0, 0, 0.091);
}

.user-menu {
    z-index: 10001;
    width: 250px;
    height: 245px;
    padding: 0px;
    margin-top: 3px;
}
.nonuser-menu {
    z-index: 10001;
    width: 200px;
    height: 140px;
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}


.menu-addaccommodation-container,
.menu-bookings-container,
.menu-myaccommodation-container {
    border-bottom:rgb(205, 205, 205) 1px solid;
    padding: 10px;
}

.menu-username-container {
    border-bottom:rgb(205, 205, 205) 1px solid;
}

.menu-username-container {
    margin-top: 5px;
}

.menu-logout-container {
    padding-top: 7px;
    padding-bottom: 7px;
}

.menu-addaccommodation-container:hover,
.menu-bookings-container:hover,
.menu-myaccommodation-container:hover,
.menu-logout-container:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

#menu-demo-button,
#menu-login-button,
#menu-signup-button,
.logout-button {
    background-color: transparent;
    border: none;
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    padding: 0px;
    color: black;
    padding: 0;
    margin: 0px;
}

#menu-demo-button:hover
#menu-login-button:hover,
#menu-signup-button:hover {
    cursor: pointer;
}

.logout-button {
    margin-top: 10px;
    margin-left: 20px;
}
#menu-signup-button {
    font-weight: bolder;
}

.menu-demo-container:hover,
.menu-login-container:hover,
.menu-signup-container:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

#menu-demo-button,
#menu-login-button {
    font-weight: lighter;
}

.menu-demo-container {
    padding: 10px
}

.menu-signup-container,
.menu-login-container {
    border-bottom:rgb(205, 205, 205) 1px solid;
    padding: 10px;
}

#menu-signup-button {
    margin-left: 25px;
}


.left-nav {
    margin-left: 30px;
}

.right-nav {
    display: flex;
    justify-content: right;
    align-items:center;
    padding-right: 65px;
    font-family: 'Mukta', sans-serif;
}

.middle-nav {
    display: flex;
    justify-content: center;
    align-items:center;
    padding-right: 65px;
    width: 310px;
}

.profile-button {
    background-color: none;
    z-index: 10001;
    width: 40px;
}

.signup-button {
    background-color: none;
    font-size: medium;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 3px 10px 3px 10px;
    font-family: 'Mukta', sans-serif;
    margin-right: 7px;
    color: black;
    text-decoration: none;
}

.login-button {
    background-color: none;
    font-size: medium;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    color: black;
}

.searchInput {
    border-radius: 20px;
    padding: 7px;
    width: 300px;
    margin-top: 20px;
    border: .5px solid gray;
}

.logo {
    max-width: 20em;
    height: 3em;
    padding: 3px;
    margin-left: 0px;
    margin-top: 7px;
  }

.add-accommodation-link {
  font-size: 16px;
  font-family: 'Mukta', sans-serif;
  color: #2B4756;
  text-decoration: underline;
  margin-left: 10px;
}

.profile-icon {
  background-color: #FFFFFF;
  border: .5px solid rgb(167, 167, 167);;
  border-radius: 20px;
  margin-right: 10px;
  width: 70px;
  margin-bottom: 10px;
}

.profile-icon:hover {
  box-shadow: 0px 0px 10px rgba(31, 31, 31, 0.4);
}

.fa-user-circle {
    font-size: 25px;
    cursor: pointer;
    color: black;
}

.username {
    color:rgb(125, 125, 125);
    margin-left: 10px;
}

.my-bookings-link,
.my-accommodations-link {
    text-decoration: none;
    color: black;
}

.my-bookings-link,
.my-accommodations-link,
.username {
    padding: 10px;
}

.login-modal {
    padding: 40px;
}

.my-bookings-link,
.my-accommodations-link,
.menu-logout-container,
.username,
.logout-button,
.add-accommodation-link {
    font-weight: lighter;
}

.logout-button{
    color: black;
    margin-top: 15px;
    width: 100%;
}
