@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Mukta:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

h2 {
  padding: 20px;
  font-family: 'Mukta', sans-serif;
  font-weight: lighter;
  font-size: 1.5em;
  margin-left: 50px;

}

.login-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 25px;
  border: 1px solid rgb(167, 167, 167);
  z-index: 30000;
}

.cred-div,
.password-div {
  padding: 10px;
}

.cred-input,
.password-input {
  align-items: center;
  padding: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: large;
  font-family: 'Roboto', sans-serif;
}

.modal-login-button {
    width: 100%;
    background-color: #314B5A;
    font-size: medium;
    color: #FFFFFF;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    margin-bottom: 60px;
}


.cred-input {
  width: 350px;
  margin-left: 5px;
}

.password-input {
  width: 350px;
  padding-right: 10px;
}

.password-div {
  margin-right: 10px;
}

.welcome-title {
  margin-right: auto;
}
